#dt-toolbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    left:0;
    bottom:0;
    right:0;
    height: 40px;
    color: #fff;
    background: #205081;
    z-index:9999;
    border-radius:0 20px 20px 0;
}
.dt-brand {
    background:url(./images/devtoolbox-toolbar-icon.png) no-repeat 50% 8px;
    width: 18px;
    height: 100%;
    overflow: hidden;
}
.dt-brand span {
    display: block;
    text-indent: -9999px;
}
.dt-version {
    flex-grow: 1;
    left:0;
    margin: auto 25px;
}
.dt-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.dt-nav li {
    margin:0;
    padding:0;

}
.dt-nav li a {
    display: table;
    padding: 0 10px;
    margin: 0;
    cursor: pointer;
    height: 100%;
}
.dt-nav li a:hover {
    background-color: #3b73af;
    color:#fff;
    text-decoration: none;
}
.dt-mute {
    font-size:9px;
    color:#ccc;
}
.dt-expando {
    float:left;
    display: block;
    height:35px;
    width:15px;
    margin:0 0 0 5px;
}
.dt-expando {
    background: url(./images/expandos.png) no-repeat -15px 6px;
}
.dt-expando-expanded .dt-expando {
    background: url(./images/expandos.png) no-repeat 0 6px;
}
#dt-toolbar .dt-expando {
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
}
#dt-toolbar {
    opacity: 0.2;
    right: auto;
    width: 30px;
    overflow: hidden;
}
#dt-toolbar.dt-expando-expanded {
    opacity:1;
    right: 0;
    width: auto;
    border-radius:0;
}

.dt-toolbox-btn {
    height: 100%;
}
.dt-menu {
    display: none;
    background:#fff;
    border:1px solid #ccc;
    border-bottom: 0;
    position:fixed;
    bottom:40px;
    right:0;
    z-index:99999;
    margin:0;
    padding:0;
    width:300px;
    border-radius:3px 3px 0 0;
}
.dt-expand {
    display:block !important;
}
.dt-menu li {
    height: 2rem;
    float: none;
    display: block;
    list-style-type: none;
    margin:0;
    padding:0;
}
.dt-menu li a {
    display: flex;
    align-items: center;
    color: #333;
    text-shadow: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.dt-menu li a:hover {
    background-color: #3b73af;
    color:#fff;
    text-decoration: none;
}
.dt-menu .dt-divider {
    border-bottom:1px solid #ccc;
}
.dt-icon {
    height: 14px;
    width: 14px;
}

.dt-toolbar-btn-label {
    color: #fff;
    display:table-cell;
    vertical-align:middle;
    font-size: unset;
    line-height: unset;
    width: unset;
}

#dt-bitbucket-web-fragments .dt-icon {
    background: url(./images/glyphicons-halflings-white.png) no-repeat;
    background-position: -240px -0px;
}
